@charset "UTF-8";

body {
    font-family: 'Myriad Pro', Calibri, Helvetica, Arial, sans-serif;
}

a:link {
    color: #005585;
    text-decoration: none;
}
a:visited {
    color: #485270;
}
a:hover {
    color: #b83800;
    text-decoration: underline;
}

#main {
    text-align: center;
}

audio {
    padding-top: 15px;
    width: 70%;
}

label, #countdown-content {
    font-weight: bold;
    font-size: 150%;
    padding: 5px 20px;
}

#countdown-area {
    display: none;
}

#question-area, #answer-area, #countdown-area {
    margin: 5px 20px;
    padding: 10px;
    text-align: left;
}

.button {
    cursor: pointer;
    font-size: 250%;
}

#play-question {
    color: green;
}
#play-question:hover {
    color: darkgreen;
}

#record-answer {
    color: red;
}
#record-answer:hover {
    color: darkred;
}

#download {
    font-size: 100%;
    color: blue;
    text-decoration: none;
}
#download:hover {
    color: darkblue;
}
